<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>
                <img src="{{product.imageUrl}}" height="70"/>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.unitPrice | currency:'USD'}}</td>
            <td>{{product.unitsInStock}}</td>
        </tr>
    </tbody>
</table>
