<div class="main-content">
    <div class="section-content section-content-p30">
           
        <div class="container-fluid">
            <div class="row">

                <div *ngFor="let product of products"  class="col-md-3">

                    <div class="product-box">
                        <!-- "/products/{{product.id}}"" will call the absolute path 
                              While "products/{{product.id}}" would call the path relative
                              to the current path
                        -->
                        <a routerLink="/products/{{product.id}}">
                            <img src="{{product.imageUrl}}" class="image-responsive">
                        </a>
                        <a routerLink="/products/{{product.id}}">
                             <h1>{{product.name}}</h1>
                        </a>
                        <div class="price">{{product.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>

                    </div>

                </div>
                <!-- If no products found display message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No matches for your search criteria..
                </div>

            </div>

            
            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    

                    
                        
                            <div class="col-md-12" >
                            
                                <ngb-pagination class="d-flex justify-content-center"
                                                [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                                                [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>
                        
                    

                </div>
            </div>
            <!-- end footer -->

        </div>

    </div>

</div>